<form action="<%=users_url%>" method="POST">
<label> username
<input type="text" value="user[username]"></label>
<br/>

<label> password
<input type="password" value="user[password]"></label>
<br/>

<input type="button" value="CREATE USER">
</form>