<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
			<nav class="main-nav">
				<nav class="right-nav">
					<span>sections</span> 
						<ul class="header-list">
						<li><input type="button" value=""></li>
						<li></li>
						<li></li>
						</ul>
				</nav>
			</nav>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
</header>