<div class=".masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>
  <h1 class="logo">App Academy Times</h1>
  Tuesday, October 18, 2016
  Today’s Paper
  Video
  77°F
  AAO +100%
</div>